.left-column, .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ensure the content fills the full height */
  }

  
  .left-column {
    flex: 1;
   
  }
  
  .image-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    margin-top: 20px;
    top: 100px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 80px;
    border-radius: 7px;
    height: 200px;
    width: 400px;
    margin-left: 50px;
  }
  
  .overlay h1, .overlay p {
    color: white;
    font-size: 24px;
    margin: 0;
    text-align: left;
  }
  
  .overlay p {
    font-family: "Marker Felt";
    font-size: medium;
  }
  
  .overlay h1 {
    font-family: "LET";
    padding-bottom: 20px;
  }
  
  .right-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    width: 600px;
  }
  