.circular-bar{
width: 200px;  /* Adjust the width */
  height: 200px; /* Adjust the height */
  font-size: 18px; /* Adjust the font size of the timer */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-left: 45px;

}
.quote{
    padding-top: 0 px;
    color: white;
}