.todo-form{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    padding-left: 40px;
}

  
  .input-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .input-container input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 1;
    max-width: 300px;
  }
  
  .input-container button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .input-container button:hover {
    background-color: #45a049;
  }
  